{% extends "home/base.html" %}
{% block mainBlock %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="aNoStyle" href="{% url 'analyzer' %}">
                <h1 class="text-center">MoonQuake Analyzer</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div><br>
    </div><br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="aNoStyle" href="{% url 'chatbot' %}">
                <h1 class="text-center">MoonQuake ChatBot</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div><br>
    </div><br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">MoonQuake FrameWork</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div><br>
    </div><br>
</div>
{% endblock%}